<h2>About Super Cool Hiking Pun</h2>

<p>This Super Cool Hiking Pun website was created to explore the wonderful world of Ember.js. This will be a blog about our favorite hiking spots and favorite spots to get out into nature.</p>
