<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">


<div class="navbar-fixed">
  <nav class="#fafafa grey lighten-5">
    <div class="nav-wrapper">
      <a href="#" class="blog-logo">SOME COOL HIKING PUN</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="about">ABOUT</a></li>
        <li><a href="contact">CONTACT</a></li>
      </ul>
    </div>
  </nav>
</div>

<body>
  <div class="container">
    {{outlet}}
  </div>
</body>
