
<div class="contact">
  <h4>Contact us today!</h4>

  <p>
    Super Cool Hiking Pun Headquarters<br>
    1212 Test Address Avenue<br>
    TestyMcTestington, OR 97233
  </p>

  <p>(503) 555-1212</p>

  <p>supercoolhikingpunp@supercoolhikingpunp.com</p>
</div>
