  <div class="index-header">
    <!-- <div class="header-text">
      <h1>GET OUT...</h1>
      <h1>SIDE!</h1>
    </div> -->
  </div>
  <div class="container">
    <div class="index-body">
      <div class="row">
        {{#each model as |post|}}
        {{post-tile post=post update="update" destroyPost="destroyPost"}}
        {{/each}}
      </div>

      {{new-post save2="save3"}}
    </div>
  </div>
