<div class="index-header">
  <!-- <img class="header-img" src="https://static.pexels.com/photos/3951/landscape-nature-man-person.jpeg" alt="hiker in woods" /> -->
</div>
<div class="index-body">
  <div class="row">
    {{#each model as |post|}}
      {{post-tile post=post update="update" destroyPost="destroyPost"}}
    {{/each}}
  </div>

  {{new-post save2="save3"}}
</div>
